.brand-logo {
  height: 2rem;
  width: 2rem;
  margin: 0.5rem;
  vertical-align: middle;;
}

.brand-title {
  font-weight: 600;
  letter-spacing: 2px;
  vertical-align: middle;
}

.nav-item {
  border-bottom: 1px solid #4a4848;  
}

.nav-item:last-child {
  border-bottom: none;
}

.navbar-nav {
  border-top: 1px solid #4a4848; 
}

@media (min-width: 992px) {
  .nav-item {
    border-bottom: none;  
  }
  
  .navbar-nav {
    border-top: none; 
  }
}